body{
    margin: 0;
    background: linear-gradient(to left bottom,lightgreen,lightblue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;

}

.container{
    background: rgba(255,255,255,.3);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.heading{
    font-size: 35px;
}

.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.input{
    width:250px;
    font-family: monospace;
    padding: 4px;
    float: right;
    outline: none;
    background: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.3);
    color: darkgreen;
    font-size: 18px;

    
}
.input::placeholder{
    color:darkgrey;

}